<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAVKofwTuCtumEyF0guFfu6vQdR9NzVe3g</string>
	<key>GCM_SENDER_ID</key>
	<string>829997105528</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.skiflux.skifluxMobileAppV2</string>
	<key>PROJECT_ID</key>
	<string>skiflux-fcm-test</string>
	<key>STORAGE_BUCKET</key>
	<string>skiflux-fcm-test.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:829997105528:ios:97688cca289b33f6e7088d</string>
</dict>
</plist>